<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html xmlns:th="http://www.thymeleaf.org">
    <head th:replace="~{layout/plantilla :: head}">
        <title>[[#{modificar.titulo}]]</title>
    </head>
    <body>
        <header th:replace="~{layout/plantilla :: header}"></header>
        <section th:replace="~{layout/editarCliente :: editarCliente}"></section>
        <footer th:replace="~{layout/plantilla :: footer}"></footer>

    </body>
</html>
